html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    background-color: #008080;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

li, a {
    color:#008080;
    list-style-type: none;
    float: left;
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    display: block;
}

a {
    margin-right: 15px;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    max-width: 20%;
  }